<div>
    <%if(locals.files) {%>
        <%locals.files.forEach( file => {%>
            <ul>
                <li> <a href= "#" ><%= file.OriginalName %></a></li>
                <li><%= file.size %></li>
                <li><%= file.createdAt %></li>
                <li><%= file.updatedAt %></li>
            </ul>
        <%})%>
    <%} else {%>
        <p>No files are found...</p>
    <%}%>
</div>