<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <main>
            <h1>library</h1>
            <form action="/file" method="post">
                <input type="file" name="file" id="file-upload">
            </form>
        </main>
    </body>
</html>