<html>
    <head>
        <title>Library</title>
    </head>
    <body>
        <%- include("../navbar")%>
        <main>
            <h1>My Library</h1>
            <section>
                <div>
                    <form action="/library/files" method="post" enctype="multipart/form-data">
                        <section>
                            <label for="files">choose files</label>
                            <input
                                type="file"
                                name="files"
                                id="files"
                                accept=".jpg, .jpeg, .png, .svg, .pdf, .webp, .doc, .docx "
                             />
                        </section>
                        <section>
                            <button id="submit">Submit</button>
                        </section>
                    </form>
                </div>
                <div>
                    <form action="/library/folder" method="post">
                        <section>
                            <input type="text" name="folder" id="folder" value="New folder" style="opacity: 0;">
                        </section>
                        <section>
                            <button id="submit">New folder</button>
                        </section>
                    </form>
                </div>
            </section>
            <div>
                <div>
                    <h2>my files</h2>
                </div>
                <div>
                    <div>
                        <%- include("folders")%>
                        <%- include("files")%>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>