<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <main>
            <div>
                <section>
                    <h1>404</h1>
                    <div>
                        <h2>Bad page</h2>
                        <p>The requested page no longer exixts. <a href="/">Back to home page</a></p>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>