<html>
    <head>
        <title>Sign up</title>
    </head>
    <body>
        <%- include("../navbar")%>
        <main>
            <div>
                <h2>Sign up for free</h2>
                Or <a href="/log-in"> log in to your existing account</a>
            </div>
            <div>
                <form action="/sign-up" method="post" class="form signup">
                    <section>
                        <label for="username">username</label>
                        <input type="text" id="username" name="username">
                    </section>
                    <section>
                        <label for="password">password</label>
                        <input type="password" id="password" name="password">
                    </section>
                    <section>
                        <label for="confirmPassword">confirm password</label>
                        <input type="password" id="confirm-password" name="confirmPassword">
                    </section>
                    <div>
                        <button id="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>