<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include("../navbar")%>
        <main>
            <h1>Welcome to the homepage!!</h1>
            <a href="/library" > Get Started </a>
        </main>
    </body>
</html>